extends layout

block content
  .container
    h2.text-center Map of all the Restaurants
    // Creamos el contenedor donde se situar치 el mapa
    #map(style="height: 600px; width: 100%; margin-top: 20px;")

block scripts
  // Incluimos los estilos y scripts de Leaflet desde el CDN como lo hemos hecho en store.pug
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css")
  script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js")

  script.
    // Creamps el mapa centrado en una ubicaci칩n por defecto -> Madrid
    var map = L.map('map').setView([40.4168, -3.7038], 5); // Coordenadas de Madrid como centro

    // A침adir la capa de mapa de OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // A침adir marcadores para cada restaurante
    const stores = !{JSON.stringify(stores)}; // Pasamos los datos de los restaurantes al script

    stores.forEach(store => {
      if (store.location && store.location.latitud && store.location.longitud) {
        L.marker([store.location.latitud, store.location.longitud])
          .addTo(map)
          .bindPopup(`<strong>${store.name}</strong><br>Rating: ${store.averageRating || 'No ratings yet'}`)
          .openPopup();
      }
    });
